.mdx-layout {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;

  .content {
    overflow: hidden;

    &:hover {
      overflow: auto;
    }
    .content-item {
      display: inline-block;
      width: 243px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
    }
  }

  .fold-icon {
    position: absolute;
    top: 50%;
    left: 275px;
    width: 24px;
    height: 96px;
    display: flex;
    align-items: center;
    background: rgba(225, 190, 231, 0.15);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: left 0.5s;
  }
}
