.mdx-layout {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  @keyframes avatar-rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }

  .avatar-img:hover > img {
    animation: avatar-rotate 1s infinite linear;
  }

  .header-title {
    background: linear-gradient(#fff, #999, #ddd, #888);
    background-clip: text;
    cursor: pointer;

    &:hover {
      filter: url("#filter");
    }
  }

  .content {
    overflow: hidden;
    
    &:hover {
      overflow: auto;
    }
    .content-item {
      display: inline-block;
      width: 243px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      user-select: none;
    }
  }

  .fold-icon {
    position: absolute;
    top: 50%;
    left: 275px;
    width: 24px;
    height: 96px;
    display: flex;
    align-items: center;
    background: rgba(225, 190, 231, 0.15);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    transition: left .5s;
  }
}