@import "@/styles/mixins.scss";

.subItems-dialog {
  :global {
    .subItems-dialog__title {
      width: max(40vw, 263px);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .subItems-dialog__content {
      height: 384px;
      overflow: hidden;

      .todo-item__remark {
        display: flex;
        align-items: center;
        margin: 12px 0;
        font-size: smaller;
        color: gray;
      }
      .todo-item__remark-title {
        align-self: start;
      }
      .todo-item__remark-content {
        display: inline-block;
        width: calc(100% - 100px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .subItems-dialog__add-btn {
        width: 100%;
        text-align: center;
        padding: 8px 0;
        margin-bottom: 8px;
        border: 1px dashed;
        border-radius: 12px;
        cursor: pointer;

        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
      }
    }

    .subItems-dialog__subItem-list {
      height: 264px;
      overflow-y: scroll;
      @include scrollbar-hover-visible;
    }
  }
}
