.todo-list-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    // background-image: url(https://picsum.photos/720/405);
    background-size: cover;
    opacity: 0.5; //透明度设置
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  :global {
    .calender {
      position: absolute;
      top: 64px;
      left: 0;
      width: 100%;
      height: calc(100% - 64px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .calender-wrap {
      width: 80%;
      height: 80%;
      min-width: 960px;
      min-height: 540px;
      border-radius: 20px;

      .calender-header {
        height: 72px;
        padding: 16px 5% 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .calender-dates {
        height: calc(100% - 72px);
        .dates-header {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: 1fr;

          > div {
            line-height: 30px;
            text-align: center;
          }
        }

        .dates-body {
          height: calc(100% - 32px);
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(6, 1fr);

          .date-item {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.todo-list-detail-container {
  width: 100vw;
  height: 100vh;

  &::before {
    content: "";
    // background-image: url(https://picsum.photos/720/405);
    background-size: cover;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  :global {
    .todo-list-box {
      position: absolute;
      top: 64px;
      left: 0;
      width: 100%;
      height: calc(100% - 64px);
      display: flex;
      justify-content: space-around;
      align-items: center;

      .list-box {
        width: 40%;
        height: 90%;
        border-radius: 24px;
      }

      .list-box__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 5%;

        .header-title {
          font-size: 24px;
        }
      }

      .todo-list-content {
        height: 90%;
        border-radius: 24px;
        overflow: hidden;

        &:hover {
          overflow: auto;
        }
      }

      .todo-list-content--empty {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
