.todoList {
  display: grid;
  width: 100%;
  height: calc(100vh - 64px);
  place-items: center;
  overflow: auto;

  :global {
    .todo-list-container {
      display: flex;
      margin: 24px;
      border-radius: 24px;
      overflow: hidden;

      // 套一个 container是为了隐藏滚动条
      .left-actions-container {
        width: 30vmin;
        min-width: 320px;
        overflow: hidden;
        margin-right: 8px;

        .left-actions {
          width: calc(30vmin + 8px);
          min-width: 328px;
          height: 80vmin;
          min-height: 640px;
          overflow-y: scroll;
          overflow-x: hidden;
          & > div:not(:last-of-type) {
            margin-bottom: 8px;
          }

          .date-picker {
            width: 100%;
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            border-radius: 24px 0 0 24px;

            .date-picker__header-custom-preview-button {
              display: flex;

              button:first-of-type {
                padding: 0;
                min-width: 32px;
              }
            }
          }

          .data-analysis {
            width: 100%;
            height: 200px;
            padding: 12px;
            margin-bottom: 8px;
            border-radius: 24px 0 0 24px;

            .data-analysis__header {
              padding: 12px;
              font-size: 20px;
              font-weight: bolder;
              margin-bottom: 12px;
              border-radius: 24px;
            }

            .data-analysis__content {
              display: flex;
              flex-direction: column;
              height: calc(100% - 54px - 12px);
              gap: 4px;

              & > div {
                flex: 1;
              }
            }
          }

          .task-group {
            width: 100%;
            border-radius: 24px 0 0 24px;
            padding: 12px;
            margin-bottom: 8px;

            .task-group__header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px;
              font-size: 20px;
              font-weight: bolder;
              margin-bottom: 12px;
              border-radius: 24px;

              .task-group__header-count {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin: 3px;
                font-size: medium;
              }
            }

            .task-group__content {
              display: flex;
              flex-direction: column;
              gap: 4px;
            }
            .task-group__content-item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 12px;
              border-radius: 12px;

              .task-group__content-item-left {
                display: flex;

                .task-group__content-item-group-name {
                  font-weight: bold;
                  margin-left: 4px;
                }

                .task-group__content-item-group-count {
                  font-size: small;
                  font-weight: bold;
                  margin-left: 4px;
                }
              }
            }
          }

          .tag-manage {
            width: 100%;
            border-radius: 24px 0 0 24px;
            padding: 12px;
            margin-bottom: 8px;

            .tag-manage__header {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 12px;
              font-size: 20px;
              font-weight: bolder;
              margin-bottom: 12px;
              border-radius: 24px;

              .tag-manage__header-count {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin: 3px;
                font-size: medium;
              }
            }

            .tag-manage__content {
              display: flex;
              flex-wrap: wrap;
              gap: 4px;

              .tag-manage__content-item {
                padding: 2px 8px;
                border-radius: 16px;
                color: #6c35de;
                font-weight: bold;
              }
            }
          }
        }
      }

      .right-daily-list {
        width: 100vmin;
        min-width: 800px;
        height: 80vmin;
        min-height: 640px;
        padding: 8px;
        color: black;
        border-radius: 0 24px 24px 0;
        backdrop-filter: blur(10px);
        background: linear-gradient(135deg, #e5f770, #c3dce4, #b9b3ee);

        .daily-list__header {
          width: 100%;
          display: flex;
          margin-bottom: 8px;
          padding: 0 8px;
          align-items: center;
          justify-content: space-between;

          .daily-list__header-date {
            font-size: 48px;
            font-weight: bold;
          }
        }

        .date-range-list {
          width: 100%;
          height: 96px;
          display: flex;
          gap: 4px;
          cursor: pointer;

          .date-range-list__item {
            flex: 1 1 0;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(10px); /* 磨砂效果 */
            background-color: rgba(255, 255, 255, 0.7); /* 半透明背景 */
            border-radius: 16px;

            .date-range-list__item-date {
              font-size: 32px;
              font-weight: bold;
              margin-left: 4px;
            }
          }

          .date-range-list__operator {
            width: 48px;
            display: grid;
            place-items: center;
            backdrop-filter: blur(10px); /* 磨砂效果 */
            background-color: rgba(255, 255, 255, 0.7); /* 半透明背景 */
            border-radius: 16px;
          }
        }

        .daily-list {
          width: 100%;
          height: calc(100% - 8px - 72px - 8px - 96px - 8px);
          margin-top: 8px;
          padding: 8px;
          background-color: #e9e4ed;
          border-radius: 24px;
          position: relative;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            display: none;
          }

          .daily-list__timeline {
            .daily-list__timeline-item {
              width: 100%;
              height: 128px;
              display: flex;
              align-items: center;

              .daily-list__timeline-item-line {
                height: 2px;
                width: 100%;
                margin-left: 8px;
                background-color: #eff1ee;
              }
            }
          }

          .daily-list__todo-list {
            display: flex;
            flex-direction: row;
            width: calc(100% - 96px - 4px - 4px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 52px;
            gap: 4px;

            .daily-list__todo-list-day {
              flex: 1 1 0;
              position: relative;

              .daily-list__todo-item {
                width: 100%;
                position: absolute;
                border-radius: 16px;
                padding: 4px 8px;
                overflow: hidden;
                min-height: 128px;
                max-height: 256px;

                .daily-list__todo-item-title {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-weight: bold;
                  font-size: large;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }

                .daily-list__todo-item-content {
                  .daily-list__todo-item-header {
                    display: flex;
                    align-items: center;
                    font-size: small;
                    margin: 4px 0;
                  }

                  .daily-list__todo-item-timeRange {
                    display: flex;
                    align-items: center;
                    font-size: small;
                    color: #b9b3ee;
                  }

                  .daily-list__todo-item-tags {
                    margin-left: 8px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    span:not(:last-of-type) {
                      margin-right: 4px;
                    }
                  }

                  .daily-list__todo-item-detail {
                    display: -webkit-box;
                    text-overflow: ellipsis;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    word-break: break-all;
                    word-wrap: break-word;
                    overflow: hidden;
                    font-size: small;

                    span {
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
