.container {
  height: 100%;

  .name {
    font-size: 8rem;
    font-weight: bold;
  }

  :global {
    .main {
      width: 80vw;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      .quote {
        text-decoration: underline;
      }

      .geometry1 {
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
        transform: rotate(45deg);
      }
      .geometry2 {
        position: absolute;
        width: 5rem;
        height: 5rem;
        overflow: hidden;
      }
      .geometry3 {
        position: absolute;
        width: 2rem;
        height: 2rem;
        overflow: hidden;
      }
      .geometry4 {
        position: absolute;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
      }
    }
  }
}

.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .tips {
    margin-top: 64px;
    border-top: 1px solid;
  }

  .text-magic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.4);
    font-size: 36px;
    font-family: Raleway, Verdana, Arial;
  }
  .white {
    position: absolute;
    left: -10px;
    height: 3px;
    background: #000;
    z-index: 4;
    animation: whiteMove 3s ease-out infinite;
  }

  .text-magic::before {
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: 0.5px;
    height: 0px;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    z-index: 2;
    animation: redShadow 1s ease-in infinite;
    filter: contrast(200%);
    text-shadow: 1px 0 0 red;
  }

  .text-magic::after {
    content: attr(data-word);
    position: absolute;
    top: 0;
    left: -3px;
    height: 36px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    z-index: 3;
    animation: redHeight 1.5s ease-out infinite;
    filter: contrast(200%);
    text-shadow: -1px 0 0 cyan;
    mix-blend-mode: darken;
  }

  @keyframes redShadow {
    20% {
      height: 32px;
    }
    60% {
      height: 6px;
    }
    100% {
      height: 42px;
    }
  }

  @keyframes redHeight {
    20% {
      height: 42px;
    }
    35% {
      height: 12px;
    }
    50% {
      height: 40px;
    }
    60% {
      height: 20px;
    }
    70% {
      height: 34px;
    }
    80% {
      height: 22px;
    }
    100% {
      height: 0px;
    }
  }

  @keyframes whiteMove {
    8% {
      top: 38px;
    }
    14% {
      top: 8px;
    }
    20% {
      top: 42px;
    }
    32% {
      top: 2px;
    }
    99% {
      top: 30px;
    }
  }
}
