.codeBlock {
  width: 90%;
  margin: 0 auto;
  border-radius: 6px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  :global {
    .codeHeader {
      width: 100%;
      height: 27px;
      padding: 0 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(238, 239, 241);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      .headerIcon {
        display: flex;
        width: 52px;
        justify-content: space-between;

        .iconItem {
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }

        .redIcon {
          background-color: #dd7264;
        }

        .yellowIcon {
          background-color: #eac16b;
        }

        .greenIcon {
          background-color: #7ec462;
        }
      }

      .copyBtn {
        display: flex;
        align-items: center;
      }
    }

    .codeBody {
      pre {
        background-color: #fff !important;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        margin: 0;
      }

      :global {
        .simplebar-content-wrapper {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        .simplebar-content::after {
          content: none;
        }

        .simplebar-content::before {
          content: none;
        }
      }
    }
  }
}