.todo-list-item {
  position: relative;
  margin: 8px;
  padding: 16px;
  padding-bottom: 4px;
  border-radius: 0 16px;

  .todo-list-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid;
    padding-top: 4px;
    margin-top: 4px;
    font-size: 12px;
    text-align: center;

    button {
      height: fit-content;
    }
  }

  :global {
    .todo-list-item__remark {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      font-size: smaller;
      color: gray;
    }
    .todo-list-item__remark-title {
      align-self: start;
    }
    .todo-list-item__remark-content {
      display: inline-block;
      width: 80%;
      word-wrap: break-word;
    }

    .todo-list-item__info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .todo-list-item__deadline {
        margin-right: 4px;
        margin-bottom: 4px;
      }

      .todo-list-item__tags-box {
        width: 55%;
      }
      .todo-list-item__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        overflow: hidden;
      }
    }
  }
}
