.goodies {
  width: 60vw;
  margin: 0 auto;
  padding-inline: 0;
  padding-block: 64px;

  h1 {
    margin: 0;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
  }

  .good-item {
    display: flex;
    padding: 32px;
    margin-top: 64px;

    &:hover {
      cursor: pointer;
    }

    :global {
      .left {
        width: 300px;
        height: 158px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 32px;

        & > * {
          width: fit-content;
          margin: 0 auto;
        }

        h2 {
          margin: 0;
        }
      }
      .right {
        flex: 1;

        h2 {
          margin-top: 0;
          text-align: start;
        }
      }
    }
  }
}
