.codeBlock {
  position: relative;
  display: flex;

  .editorWrap,
  .previewWrap {
    flex: 1 1 50%;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 28px;
    border-radius: 6px;
    overflow: hidden;
  }

  .editorHeader,
  .previewHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    padding: 0 10px;
    background: #fff;
    color: #ccc;
    font-size: 12px;
    border-bottom: 1px solid #f6f6f6;
  }

  .editorActions,
  .previewActions {
    :global {
      span {
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        margin-left: 4px;

        &:hover {
          color: #333;
        }
      }
    }
  }

  .editorWrap {
    display: flex;
    flex-direction: column;
    margin: 15px;

    .editorHeader {
      .language {
        font-family: 'Fira Code', monospace;
      }
    }

    .eidtorBody {
      flex: 1;
      overflow: auto;
      overflow: overlay;

      >div {
        min-width: 100%;
        min-height: 100%;
        float: left;

        :global {

          .textarea,
          pre {
            white-space: pre !important;
          }
        }
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 2px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
      }

      &::-webkit-scrollbar-corner {
        background-color: transparent;
      }
    }
  }

  .previewWrap {
    background-color: #fff;
    margin: 15px;
    display: flex;
    flex-direction: column;

    .previewHeader {
      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fd6458;
        box-shadow: 20px 0 0 #ffbf2b, 40px 0 0 #24cc3d;
        vertical-align: middle;
        vertical-align: top;
      }
    }

    .previewBody {
      flex: 1;
      overflow: auto;
      overflow: overlay;
      padding: 8px;
      background: #fbfbfb;
    }
  }

  .previewCode {
    overflow: scroll;
    margin: 15px;
  }
}